{% load staticfiles %}
<html>   
      <link rel="stylesheet" href="{% static 'css/news.css' %}" >  
      <title>News And Notifications</title>
      {% include 'header.html' %}
        <div id="medial">
                    <a href="https://www.facebook.com" target="_blank"><img src="{% static 'Images/fb.png' %}"></a>
                    <a href="www.youtube.com"><img src="{% static 'Images/youtube.png' %}"></a>
                    <a href="www.twitter.com"><img src="{% static 'Images/twitter.png' %}"></a>
        </div>
            <div id="Npage">
<!-- 
            <iframe src="https://www.w3schools.com">
                    <p>Your browser does not support iframes.</p>
            </iframe> -->


<!-- 
<base target="_blank">
<iframe id="Example2"
    title="Example2"
    width="400"
    height="300"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es-419&amp;geocode=&amp;q=buenos+aires&amp;sll=37.0625,-95.677068&amp;sspn=38.638819,80.859375&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Buenos+Aires,+Argentina&amp;z=11&amp;ll=-34.603723,-58.381593&amp;output=embed">
</iframe>

<br>
<small>
  <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=es-419&amp;geocode=&amp;q=buenos+aires&amp;sll=37.0625,-95.677068&amp;sspn=38.638819,80.859375&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Buenos+Aires,+Argentina&amp;z=11&amp;ll=-34.603723,-58.381593" style="color:#0000FF;text-align:left"> See bigger map </a>
</small> -->

            
<!-- 		<div id="SNpage">
                <div id="part1">
                  <h2> BHU Centennial Celebrations! </h2>
                  <p class="para1"> Dear Fellow Alumnus/Alumna,

                  This year our Alma Mater - BHU - is celebrating 100 years of contribution to education in India. To launch the celebrations, the IIT-BHU Global Alumni Association will be hosting a Global Meet at the Santa Clara Convention Center, CA on the 17th of September 2016. An event of this importance requires your whole-hearted support and participation.<br>
                  Please register http://centenary.iitbhuglobal.org/registration as soon as possible and mark September 17 on your calendar. Please convey this message to your BHU friends. Looking forward to seeing you at the event,
                  Thank You.<br><br>

                  Ramesh Srinivasan
                  (Metallurgy 1982)
                  Chair, 2016 Global Alumni Meet 	Vivek Agarwal
                  (Electronics 1986)
                  Co-Chair, 2016 Global Alumni Meet 	Vish Narayanan
                  (Electrical 1983)
                  President, IIT-BHU Global Alumni Association<br><br>

                  <b>Special guests and VIPs at the Global meet will include:</b><br><br>

                  * Prof. Girish Chandra Tripathi, Vice-Chancellor of Banaras Hindu University<br>
                  * Prof. Rajeev Sangal, Director of IIT (BHU)<br>
                  * Prof. Anil K. Tripathi, Dean, Resource and Alumni, IIT (BHU)<br>
                  * Prof. Satish Tripathi, President, Sate university of New York at Buffalo, New York (M.Sc. Statistics, BHU, 1970)<br>
                  * Shri Manoj Sinha (Civil 1979), Minister of State, Communication and Railways<br>
                  * Mr. R. K. Verma (Civil 1979), Secretary, Railway Board<br>
                  * Dr. Virinder Moudgil (PhD Molecular Science 1972, BHU), President & CEO, Lawrence Technological University, Michigan<br>
                  * Ambassador Venkatesan Ashok (Civil 1981, IIT-Delhi), Consul General of India - San Francisco<br>
                  </p>
                </div>
                <div id="part2">
                  <h2> Distinguished Alumnus Award </h2>
                  <p class="para2">The Institute has decided to confer the <b> Distinguished Alumnus Award </b>on the following Alumni: <br><br>
                        * <b> Dr. Anil Bhardwaj</b> (PhD, 1992, Applied Physics), Research & Development<br>

                        * <b> Professor Brij N Agrawal</b> (B.Sc. Engg. (Hons), 1964, Mech. Engg.), Academic<br>

                        * <b> Shri Jay Chaudhry </b>(B.Tech., 1980, Electronics Engg.), Profession<br>

                        * <b> Shri Manoj Sinha</b> (B.Tech., 1979, Civil Engg),Public Life<br>

                                                            
                  </p>
                </div>
		</div>
            </div>
 -->

<iframe src="https://old.iitbhu.ac.in/news/" height=100% width=100%></iframe>
            
<!-- <base target="_blank">
<iframe id="Example2"
    title="Example2"
    width="400"
    height="300"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://www.iitbhu.ac.in/news_notifications">
</iframe>

<br>
<small>
  <a href="https://www.iitbhu.ac.in/news_notifications" style="color:#0000FF;text-align:left"> IIT BHU </a>
</small>
   -->
</body>
</html>